nav.navigation.navigation_fixed
    ul.navigation__list
        li.navigation__item
            a.navigation__link(href="my-works.html")
                span.navigation__text Мои работы
        li.navigation__item
            a.navigation__link(href="about.html")
                span.navigation__text Обо мне
        li.navigation__item
            a.navigation__link(href="blog.html")
                span.navigation__text Блог
        li.navigation__item
            a.navigation__link(href="index.html")
                span.navigation__text Авторизация