ul.social
    li.social__item
        a.social__link(href="#")
            svg.social__image
                use(xlink:href="assets/images/svg/sprite.svg#vk")
    li.social__item
        a.social__link(href="#")
            svg.social__image
                use(xlink:href="assets/images/svg/sprite.svg#github")
    li.social__item
        a.social__link(href="#")
            svg.social__image
                use(xlink:href="assets/images/svg/sprite.svg#in")